<div class="row rt-main">
    <div class="col-sm-12 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="text-center">Skapa kategori</h2>
            </div>
            <div class="panel-body" style="min-height: 25em;">
                <form>
                    <div class="form-group">
                        <label>Kategorins namn</label>
                        <input class="form-control" ng-model="vm.formDataCat.Name" type="text" placeholder="Namn" />
                    </div>
                    <div class="form-group">
                        <label style="margin-right: .5em;">Aktiverad</label>
                        <input class="checkbox-inline" ng-model="vm.formDataCat.Active" type="checkbox" ng-checked="vm.activeCat" />
                    </div>
                </form>
            </div>
            <div class="panel-footer clearfix">
                <span><a class="pull-right btn btn-success" ng-click="vm.saveFormCat()"><span class="glyphicon glyphicon-save"></span> Spara</a></span>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="text-center">Skapa reklamblad</h2>
            </div>
            <div class="panel-body" style="min-height: 25em;">
                <form>
                    <div class="form-group">
                        <label>Flygbladets namn</label>
                        <input class="form-control" ng-model="vm.formDataFlyer.Name" type="text" placeholder="Namn" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Postnummer från</label>
                        <input class="form-control" ng-model="vm.formDataFlyer.RangeMin" type="text" placeholder="giltigt postnummer från (min)" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Postnummer till</label>
                        <input class="form-control" ng-model="vm.formDataFlyer.RangeMax" type="text" placeholder="giltigt postnummer till (max)" />
                    </div>
                    <div class="form-group">
                        <label style="margin-right: .5em;">Aktiverad</label>
                        <input class="checkbox checkbox-inline" ng-model="vm.formDataFlyer.Active" type="checkbox" ng-checked="vm.activeFlyer" />
                    </div>
                    <div class="form-group">
                        <label>Kategori</label>
                        <select class="form-control dropdown" ng-model="vm.selectedCat" ng-options="c.Name for c in vm.cats track by c.ID"></select>
                    </div>
                </form>
            </div>
            <div class="panel-footer clearfix">
                <span><a class="pull-right btn btn-success" ng-click="vm.saveFormFlyer()"><span class="glyphicon glyphicon-save"></span> Spara</a></span>
            </div>
        </div>
    </div>
</div>

<legend></legend>

<div class="row rt-deviceShow">
    <div class="text-center text-primary">
        <h2>Ändra Kategorier & Reklamblad</h2>
    </div>
    <div class="row rt-main">
        <div class="col-sm-12 col-md-offset-2 col-md-4 rt-btnCreate">
            <a ng-click="vm.catClick()" class="btn btn-primary rt-btn-roundCorner-left text-center"><span class="glyphicon glyphicon-list-alt"></span> Lista kategorier</a>
        </div>
        <div class="col-sm-12 col-md-4" style="padding: 0;">
            <a ng-click="vm.flyerClick()" class="btn btn-primary rt-btn-roundCorner-right text-center"><span class="glyphicon glyphicon-list-alt"></span> Lista reklamblad</a>
        </div>
    </div>

    <div ng-show="vm.displayCats && !vm.displayFlyers">
        <table class="table">
            <thead>
                <tr>
                    <th>Namn</th>
                    <th>Aktiverad</th>
                    <th>Kontroll</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cat in vm.cats">
                    <td>
                        <span ng-hide="vm.selCat.ID == cat.ID">{{cat.Name}}</span>
                        <input ng-show="vm.selCat.ID == cat.ID" ng-model="cat.Name" class="form-control input-sm" value="{{cat.Name}}" />
                    </td>
                    <td>
                        <span ng-hide="vm.selCat.ID == cat.ID" ng-if="cat.Active" class="glyphicon glyphicon-ok"></span>
                        <span ng-hide="vm.selCat.ID == cat.ID" ng-if="!cat.Active" class="glyphicon glyphicon-remove"></span>
                        <input ng-show="vm.selCat.ID == cat.ID" ng-model="cat.Active" class="checkbox checkbox-inline" type="checkbox" ng-checked="cat.Active" />
                    </td>
                    <td>
                        <span ng-hide="vm.selCat.ID == cat.ID"><a class="btn btn-sm btn-info" ng-click="vm.editCats(cat.ID)"><span class="glyphicon glyphicon-edit"></span> Ändra</a></span>
                        <span ng-hide="vm.selCat.ID == cat.ID"><a class="btn btn-sm btn-danger" ng-click="vm.deleteCat(cat.ID)"><span class="glyphicon glyphicon-remove"></span> Ta bort</a></span>
                        <span ng-show="vm.selCat.ID == cat.ID"><a class="btn btn-sm btn-success" ng-click="vm.saveCatEdits(cat.ID)"><span class="glyphicon glyphicon-save"></span> Spara</a></span>
                        <span ng-show="vm.selCat.ID == cat.ID"><a class="btn btn-sm btn-info" ng-click="vm.cancleCat(cat.ID)"><span class="glyphicon glyphicon-remove-circle"></span> Avbryt</a></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="vm.displayFlyers && !vm.displayCats">
        <table class="table">
            <thead>
                <tr>
                    <th>Namn</th>
                    <th>Aktiverad</th>
                    <th>Post nummer från</th>
                    <th>Post nummer till</th>
                    <th>Kategori</th>
                    <th>Kontroll</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="flyer in vm.flyers">
                    <td>
                        <span ng-hide="vm.selFlyer.ID == flyer.ID">{{flyer.Name}}</span>
                        <input ng-show="vm.selFlyer.ID == flyer.ID" ng-model="flyer.Name" class="form-control input-sm" value="{{flyer.Name}}" />
                    </td>
                    <td>
                        <span ng-hide="vm.selFlyer.ID == flyer.ID" ng-if="flyer.Active" class="glyphicon glyphicon-ok"></span>
                        <span ng-hide="vm.selFlyer.ID == flyer.ID" ng-if="!flyer.Active" class="glyphicon glyphicon-remove"></span>
                        <input ng-show="vm.selFlyer.ID == flyer.ID" ng-model="flyer.Active" class="checkbox checkbox-inline" type="checkbox" ng-checked="flyer.Active" />
                    </td>
                    <td>
                        <span ng-hide="vm.selFlyer.ID == flyer.ID">{{flyer.RangeMin}}</span>
                        <input ng-show="vm.selFlyer.ID == flyer.ID" ng-model="flyer.RangeMin" class="form-control input-sm" value="{{flyer.RangeMin}}" />
                    </td>
                    <td>
                        <span ng-hide="vm.selFlyer.ID == flyer.ID">{{flyer.RangeMax}}</span>
                        <input ng-show="vm.selFlyer.ID == flyer.ID" ng-model="flyer.RangeMax" class="form-control input-sm" value="{{flyer.RangeMax}}" />
                    </td>
                    <td>
                        <span ng-hide="vm.selFlyer.ID == flyer.ID">{{flyer.Category.Name}}</span>
                        <select ng-show="vm.selFlyer.ID == flyer.ID" class="form-control dropdown" ng-model="vm.selectedCat" ng-options="c.Name for c in vm.cats track by c.ID"></select>
                    </td>
                    <td>
                        <span ng-hide="vm.selFlyer.ID == flyer.ID"><a class="btn btn-sm btn-info" ng-click="vm.editFlyer(flyer.ID)"><span class="glyphicon glyphicon-edit"></span> Ändra</a></span>
                        <span ng-hide="vm.selFlyer.ID == flyer.ID"><a class="btn btn-sm btn-danger" ng-click="vm.deleteFlyer(flyer.ID)"><span class="glyphicon glyphicon-remove"></span> Ta bort</a></span>
                        <span ng-show="vm.selFlyer.ID == flyer.ID"><a class="btn btn-sm btn-success" ng-click="vm.saveFlyerEdits(flyer.ID)"><span class="glyphicon glyphicon-save"></span> Spara</a></span>
                        <span ng-show="vm.selFlyer.ID == flyer.ID"><a class="btn btn-sm btn-info" ng-click="vm.cancleFlyer(flyer.ID)"><span class="glyphicon glyphicon-remove-circle"></span> Avbryt</a></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row rt-deviceHidden">
    <div class="text-center text-primary">
        <h2>Ändra Kategorier & Reklamblad</h2>
    </div>
    <div class="row rt-main">
        <div class="col-sm-12 col-md-offset-2 col-md-4 rt-btnCreate">
            <a ng-click="vm.catClick()" class="btn btn-primary rt-btn-roundCorner-left text-center"><span class="glyphicon glyphicon-list-alt"></span> Lista kategorier</a>
        </div>
        <div class="col-sm-12 col-md-4" style="padding: 0;">
            <a ng-click="vm.flyerClick()" class="btn btn-primary rt-btn-roundCorner-right text-center"><span class="glyphicon glyphicon-list-alt"></span> Lista reklamblad</a>
        </div>
    </div>

    <div style="padding: 0 2em;">
        <div ng-show="vm.displayCats && !vm.displayFlyers" style="margin: 1.5em 0;">
            <div class="panel panel-primary" ng-repeat="cat in vm.cats">
                <div class="panel-heading">
                    <h3>{{cat.Name}}</h3>
                </div>
                <div class="panel-body">
                    <p ng-if="cat.Active">Aktiverad: <span ng-hide="vm.selCat.ID == cat.ID" class="glyphicon glyphicon-ok"></span></p>
                    <p ng-if="!cat.Active">Aktiverad: <span ng-hide="vm.selCat.ID == cat.ID" class="glyphicon glyphicon-remove"></span></p>
                </div>
            </div>
        </div>
        <div ng-show="vm.displayFlyers && !vm.displayCats" style="margin: 1.5em 0;">
            <div class="panel panel-primary" ng-repeat="flyer in vm.flyers">
                <div class="panel-heading">
                    <h3>{{flyer.Name}}</h3>
                </div>
                <div class="panel-body">
                    <p ng-if="flyer.Active">Aktiverad: <span ng-hide="vm.selFlyer.ID == flyer.ID" class="glyphicon glyphicon-ok"></span></p>
                    <p ng-if="!flyer.Active">Aktiverad: <span ng-hide="vm.selFlyer.ID == flyer.ID" class="glyphicon glyphicon-remove"></span></p>

                    <p>Post nummer från: <span ng-hide="vm.selFlyer.ID == flyer.ID">{{flyer.RangeMin}}</span></p>
                    <p>Post nummer till: <span ng-hide="vm.selFlyer.ID == flyer.ID">{{flyer.RangeMax}}</span></p>

                    <p>Kategori: <span ng-hide="vm.selFlyer.ID == flyer.ID">{{flyer.Category.Name}}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
