
<div class="row ma-main ma-print-hidden">
    <div class="col-sm-12 col-md-4" style="padding: 0;">
        <a ng-click="" style="cursor: not-allowed; color: gray; text-decoration: none;" class="ma-btn-lg ma-btn-l ma-center-text"><span class="glyphicon glyphicon-list-alt"></span> Lista användare</a>
    </div>
    <div class="col-sm-12 col-md-4 ma-mid-pad">
        <a ng-click="vm.refreshUserList()" class="ma-btn-lg ma-btn-c ma-center-text"><span class="glyphicon glyphicon-refresh"></span> Upddatera listan</a>
    </div>
    <div class="col-sm-12 col-md-4" style="padding: 0;">
        <a onclick="window.print()" class="ma-btn-lg ma-btn-r ma-center-text"><span class="glyphicon glyphicon-print"></span> Skriv ut</a>
    </div>
</div>

<div class="ma-print-hidden">
    <div>
        <form class="form-group">
            <textarea class="form-control" id="msg" ng-model="vm.printInfoMsg" style="margin-top: 2em; max-width: 100%; max-height: 6.5em;" rows="4" placeholder="Kundmeddelande som vissas när man gör en utskrift."></textarea>
            <input class="form-control" style="width: 100%" ng-click="vm.saveMsg()" type="button" value="Spara" />
        </form>
        
    </div>
</div>

<div class="ma-center-text" ng-show="vm.errorMsg">
    <p class="text-danger ma-succssesText">{{vm.errorMsg}}</p>
</div>
<div class="ma-center-text" ng-show="vm.disableDuringLoad">
    <p class="text-danger ma-succssesText">{{vm.btnText}}</p>
</div>

<div class="row ma-main ma-print-hidden">
    <div class="col-sm-12 col-md-8">
        <form class="form-inline" ng-submit="vm.searchUser(vm.searchString)">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="Sök" ng-model="vm.searchString" style="width: 15em;" />
                    <button type="submit" class="input-group-addon btn btn-sm" style="width: auto;"><span class="glyphicon glyphicon-search"></span> Sök</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-12 col-md-4">
        <form class="form-inline" ng-submit="vm.searchDistrict(vm.searchStringDistrict)">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" type="search" style="width: 15em;" placeholder="Sök (1 3 | 1-3 | 1,3 | 1.3)" ng-model="vm.searchStringDistrict" />
                    <button type="submit" style="width: auto;" class="input-group-addon btn btn-sm"><span class="glyphicon glyphicon-search"></span> Sök</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row ma-show">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th class="ma-table-width-15">Namn</th>
                <th class="ma-table-width-20">Adress</th>
                <th class="ma-table-width-15">Ort</th>
                <th class="ma-table-width-15">Post nr.</th>
                <th class="ma-table-width-15">Email</th>
                <th class="ma-table-width-10">Distrikt nr.</th>
                <th class="ma-table-width-10">Gång nr.</th>
                <th>Kontroll</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in vm.users track by $index">
                <td>
                    <span ng-show="vm.selUser.Id != user.Id">{{user.Name}}</span>
                    <input class="form-control input-sm" ng-model="user.Name" ng-show="vm.selUser.Id == user.Id" type="text" />
                </td>
                <td>
                    <span ng-show="vm.selUser.Id != user.Id">{{user.Address}}</span>
                    <input class="form-control input-sm" ng-model="user.Address" ng-show="vm.selUser.Id == user.Id" type="text" />
                </td>
                <td>
                    <span ng-show="vm.selUser.Id != user.Id">{{user.County}}</span>
                    <input class="form-control input-sm" ng-model="user.County" ng-show="vm.selUser.Id == user.Id" type="text" />
                </td>
                <td>
                    <span ng-show="vm.selUser.Id != user.Id">{{user.PostalCode}}</span>
                    <input class="form-control input-sm" ng-model="user.PostalCode" ng-show="vm.selUser.Id == user.Id" type="text" />
                </td>
                <td>
                    <span ng-show="vm.selUser.Id != user.Id">{{user.Email}}</span>
                    <input class="form-control input-sm" ng-model="user.Email" ng-show="vm.selUser.Id == user.Id" type="text" />
                </td>
                <td>
                    <span ng-show="vm.selUser.Id != user.Id">{{user.DistrictNumber}}</span>
                    <input class="form-control input-sm" ng-model="user.DistrictNumber" ng-show="vm.selUser.Id == user.Id" type="text" />
                </td>
                <td>
                    <span ng-show="vm.selUser.Id != user.Id">{{user.DeliveryOrderNumber}}</span>
                    <input class="form-control input-sm" ng-model="user.DeliveryOrderNumber" ng-show="vm.selUser.Id == user.Id" type="text" />
                </td>
                <td>
                    <a ng-click="vm.saveUserEdit(user.Id)" class="btn btn-sm btn-success" ng-show="vm.selUser.Id == user.Id" style="width: 100%;"><span class="glyphicon glyphicon-save"></span> Spara</a>
                    <a ng-click="vm.cancleUserEdit(user.Id)" class="btn btn-sm btn-info" ng-show="vm.selUser.Id == user.Id" style="width: 100%;"><span class="glyphicon glyphicon-remove-circle"></span> Avbryt</a>
                    <a ng-click="vm.selectUser(user.Id)" class="btn btn-sm btn-info" ng-show="vm.selUser.Id != user.Id" style="width: 100%;"><span class="glyphicon glyphicon-edit"></span> Ändra</a>
                    <a ng-click="vm.deleteUser(user.Id)" class="btn btn-sm btn-danger" ng-show="vm.selUser.Id != user.Id" style="width: 100%;"><span class="glyphicon glyphicon-remove"></span> Ta bort</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row ma-mobile">
    <div class="col-sm-12 ma-mobileMode">
        <div class="break panel panel-primary" ng-repeat="user in vm.users track by $index">
            <div class="panel-heading">
                <span>Namn: {{user.Name}}</span><span class="pull-right">  Adress: {{user.Address}}</span>
            </div>
            <div class="panel-body">
                <span>Post #: {{user.PostalCode}}</span><span>  Ort: {{user.County}}</span>
                <p>Email: <span>{{user.Email}}</span></p>
                <span>Distrikt #: {{user.DistrictNumber}}</></span><span>   Gång #: {{user.DeliveryOrderNumber}}</span>
            </div>
            <div class="panel-footer">
                <span>{{$index + 1}}</span>
            </div>
        </div>

    </div>
</div>

<div class="break printDisplay ma-hidden" ng-repeat="user in vm.users track by $index" ng-if="user.DistrictNumber || user.DeliveryOrderNumber">
    <!--<img class="footerLogoImg" src="https://www.sdr.se/images/main-logo.png" style="width: 150px; height: auto;" />-->
    <div class="distDeliv">
        <span>Distrikt nr: {{user.DistrictNumber}}  |   Gång nr: {{user.DeliveryOrderNumber}}</span>
    </div>
    <div class="userInfo">
        <p style="margin-bottom: 1.8em;">{{user.Name}}</p>
        <p>{{user.Address}}</p>
        <span>{{user.PostalCode}} {{user.County}}</span>
    </div>
    <div class="message">
        <p>
            {{vm.printDisplayMsg[0].Bulletin}}
        </p>
    </div>
    <div class="userFlyers">
        <span style="font-size: 14pt;" ng-repeat="flyer in user.Flyers">{{flyer.Name}} | </span>
    </div>
</div>


<div class="ma-center-text" ng-show="vm.displayLoadMore" ng-cloak>
    <a class="ma-btn-sm" ng-hide="vm.disableDuringLoad" ng-click="vm.loadMoreUsers(vm.take)">{{vm.btnText}}</a>
    <a class="ma-btn-sm" ng-show="vm.disableDuringLoad" ng-click="">{{vm.btnText}}</a>
</div>