
<div class="row ma-main ma-print-hidden">
    <div class="col-sm-12 col-md-4" style="padding: 0;">
        <a ng-click="vm.getUsersPage(vm.take)" class="ma-btn-lg ma-btn-l ma-center-text"><span class="glyphicon glyphicon-list-alt"></span> Lista användare</a>
    </div>
    <div class="col-sm-12 col-md-4 ma-mid-pad">
        <a ng-click="vm.refreshList()" class="ma-btn-lg ma-btn-c ma-center-text"><span class="glyphicon glyphicon-refresh"></span> Upddatera listan</a>
    </div>
    <div class="col-sm-12 col-md-4" style="padding: 0;">
        <a onclick="window.print()" class="ma-btn-lg ma-btn-r ma-center-text"><span class="glyphicon glyphicon-print"></span> Skriv ut</a>
    </div>
</div>

<div class="row ma-main ma-print-hidden">
    <div class="col-sm-12 col-md-8">
        <form class="form-inline" ng-submit="vm.search()">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="Sök" ng-model="vm.searchString" style="width: 15em;" />
                    <button type="submit" class="input-group-addon btn btn-sm" style="width: auto;"><span class="glyphicon glyphicon-search"></span> Sök</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-12 col-md-4">
        <form class="form-inline" ng-submit="vm.searchDistrict()">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" type="search" style="width: 15em;" placeholder="Sök (1 3 | 1-3 | 1,3 | 1.3)" ng-model="vm.searchStringDistrict" />
                    <button type="submit" style="width: auto;" class="input-group-addon btn btn-sm"><span class="glyphicon glyphicon-search"></span> Sök</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row ma-show">
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th class="ma-table-width-15">Namn</th>
                <th class="ma-table-width-20">Adress</th>
                <th class="ma-table-width-15">Ort</th>
                <th class="ma-table-width-15">Post nr.</th>
                <th class="ma-table-width-15">Email</th>
                <th class="ma-table-width-10">Distrikt nr.</th>
                <th class="ma-table-width-10">Gång nr.</th>
                <th>Kontroll</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in vm.users track by $index">
                <td>
                    <span ng-show="vm.currentModifyUser != user.Id">{{user.Name}}</span>
                    <input class="form-control input-sm" ng-model="user.Name" ng-show="vm.currentModifyUser == user.Id" type="text" />
                </td>
                <td>
                    <span ng-show="vm.currentModifyUser != user.Id">{{user.Address}}</span>
                    <input class="form-control input-sm" ng-model="user.Address" ng-show="vm.currentModifyUser == user.Id" type="text" />
                </td>
                <td>
                    <span ng-show="vm.currentModifyUser != user.Id">{{user.County}}</span>
                    <input class="form-control input-sm" ng-model="user.County" ng-show="vm.currentModifyUser == user.Id" type="text" />
                </td>
                <td>
                    <span ng-show="vm.currentModifyUser != user.Id">{{user.PostalCode}}</span>
                    <input class="form-control input-sm" ng-model="user.PostalCode" ng-show="vm.currentModifyUser == user.Id" type="text" />
                </td>
                <td>
                    <span ng-show="vm.currentModifyUser != user.Id">{{user.Email}}</span>
                    <input class="form-control input-sm" ng-model="user.Email" ng-show="vm.currentModifyUser == user.Id" type="text" />
                </td>
                <td>
                    <span ng-show="vm.currentModifyUser != user.Id">{{user.DistrictNumber}}</span>
                    <input class="form-control input-sm" ng-model="user.DistrictNumber" ng-show="vm.currentModifyUser == user.Id" type="text" />
                </td>
                <td>
                    <span ng-show="vm.currentModifyUser != user.Id">{{user.DeliveryOrderNumber}}</span>
                    <input class="form-control input-sm" ng-model="user.DeliveryOrderNumber" ng-show="vm.currentModifyUser == user.Id" type="text" />
                </td>
                <td>
                    <a ng-click="vm.saveEdits(user.Id)" class="btn btn-sm btn-success" ng-show="vm.currentModifyUser == user.Id" style="width: 100%;"><span class="glyphicon glyphicon-save"></span> Spara</a>
                    <a ng-click="vm.cancle()" class="btn btn-sm btn-info" ng-show="vm.currentModifyUser == user.Id" style="width: 100%;"><span class="glyphicon glyphicon-remove-circle"></span> Avbryt</a>
                    <a ng-click="vm.editUser(user.Id)" class="btn btn-sm btn-info" ng-show="vm.currentModifyUser != user.Id" style="width: 100%;"><span class="glyphicon glyphicon-edit"></span> Ändra</a>
                    <a ng-click="vm.remove(user.Id)" class="btn btn-sm btn-danger" ng-show="vm.currentModifyUser != user.Id" style="width: 100%;"><span class="glyphicon glyphicon-remove"></span> Ta bort</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row ma-hidden">
    <div class="col-sm-12 ma-mobileMode">
        <div class="break panel panel-primary" ng-repeat="user in vm.users track by $index">
            <div class="panel-heading">
                <span>Namn: {{user.Name}}</span><span class="pull-right">  Adress: {{user.Address}}</span>
            </div>
            <div class="panel-body">
                <span>Post #: {{user.PostalCode}}</span><span>  Ort: {{user.County}}</span>
                <p>Email: <span>{{user.Email}}</span></p>
                <span>Distrikt #: {{user.DistrictNumber}}</></span><span>   Gång #: {{user.DeliveryOrderNumber}}</span>
            </div>
            <div class="panel-footer">
                <span>{{$index + 1}}</span>
            </div>
        </div>

    </div>
</div>

<div class="ma-center-text" ng-show="vm.showPagenation" ng-cloak>
    <button ng-click="vm.getUsersPage(vm.take)">Ladda in fler</button>
</div>