
<div class="row ma-main">
    <div class="col-xs-12 col-md-push-3 col-md-6">
        <div class="ma-border">
            <div class="ma-wrap-padding">
                <form class="ma-form">
                    <div class="form-group">
                        <input ng-model="vm.formData.OldPassword" class="form-control input-lg" type="password" placeholder="Gammalt lösenord" />
                        <input ng-model="vm.formData.NewPassword" class="form-control input-lg" type="password" placeholder="Nytt lösenord" />
                        <input ng-model="vm.formData.ConfirmPassword" class="form-control input-lg" type="password" placeholder="Bekräfta nya lösenordet" />
                    </div>
                    <div class="ma-center-text">
                        <input ng-click="vm.changePassword()" type="submit" class="ma-btn-lg btn-success" value="Ändra lösenord" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>