
<div class="row ma-main">
    <div class="col-xs-12 col-md-push-3 col-md-6">
        <div class="ma-border">
            <div class="ma-wrap-padding">
                <form class="ma-form" ng-submit="vm.changePassword()" name="changeForm">
                    <div class="form-group" ng-form="OldP">
                        <label>Gammalt lösenord</label>
                        <input ng-class="{'ma-has-error-border': OldP.$invalid && OldP.$dirty}" ng-model="vm.formData.OldPassword" class="form-control input-lg" type="password" placeholder="Gammalt lösenord" ng-required="true" ng-minlength="6" ng-maxlength="256" />
                        <div ng-show="OldP.$invalid && OldP.$dirty">
                            <span class="text-danger" ng-show="OldP.$error.required">Fältet måste vara ifyllt!</span>
                            <span class="text-danger" ng-show="OldP.$error.minlength">Lösenordet måste innehålla minst 6 tecken!</span>
                            <span class="text-danger" ng-show="OldP.$error.maxlength">Lösenordet kan inte överstiga 512 tecken!</span>
                        </div>
                    </div>
                    <div class="form-group" ng-form="NewP">
                        <label>Nytt lösenord</label>
                        <input ng-class="{'ma-has-error-border': NewP.$invalid && NewP.$dirty}" ng-model="vm.formData.NewPassword" class="form-control input-lg" type="password" placeholder="Nytt lösenord" ng-required="true" ng-minlength="6" ng-maxlength="256" />
                        <div ng-show="NewP.$invalid && NewP.$dirty">
                            <span class="text-danger" ng-show="NewP.$error.required">Fältet måste vara ifyllt!</span>
                            <span class="text-danger" ng-show="NewP.$error.minlength">Lösenordet måste innehålla minst 6 tecken!</span>
                            <span class="text-danger" ng-show="NewP.$error.maxlength">Lösenordet kan inte överstiga 512 tecken!</span>
                        </div>
                    </div>
                    <div class="form-group" ng-form="ConNewP">
                        <label>Bekräfta nya lösenordet</label>
                        <input ng-class="{'ma-has-error-border': ConNewP.$invalid && ConNewP.$dirty}" ng-model="vm.formData.ConfirmPassword" ng-pattern="/[vm.formData.NewPassword]/g" class="form-control input-lg" type="password" placeholder="Bekräfta nya lösenordet" ng-required="true" ng-minlength="6" ng-maxlength="256" />
                        <div ng-show="ConNewP.$invalid && ConNewP.$dirty">
                            <span class="text-danger" ng-show="ConNewP.$error.required">Fältet måste vara ifyllt!</span>
                            <span class="text-danger" ng-show="ConNewP.$error.pattern">Lösenorden stämmer ej överrens!</span>
                        </div>
                    </div>
                    <div class="ma-center-text">
                        <input ng-class="{'ma-btn-c-success': changeForm.$valid}" ng-disabled="changeForm.$invalid" type="submit" class="ma-btn-lg ma-btn-c" value="Ändra lösenord" />
                    </div>
                    <div class="ma-center-text">
                        <p class="text-info ma-succssesText">{{vm.msg}}</p>
                    </div>
                </form>
            </div>
            <div class="ma-center-text" ng-show="vm.errorMsg">
                <p class="text-danger ma-succssesText">{{vm.errorMsg}}</p>
            </div>
        </div>
    </div>
</div>