<div class="row rt-main">
    <div class="panel panel-info">
        <div class="panel-heading text-center">
            <h3>Byt lösenord</h3>
        </div>
        <div class="panel-body">
            <div class="rt-formWrap">
                <form class="" ng-submit="vm.changePassword()" name="changeForm">
                    <div class="form-group" ng-form="OldP">
                        <label>Gammalt lösenord</label>
                        <input ng-class="{'ma-has-error-border': OldP.$invalid && OldP.$dirty}" ng-model="vm.formData.OldPassword" class="form-control input-lg" type="password" placeholder="Gammalt lösenord" ng-required="true" />
                        <div ng-show="OldP.$invalid && OldP.$dirty">
                            <span class="text-danger" ng-show="OldP.$error.required">Fältet måste vara ifyllt!</span>
                        </div>
                    </div>
                    <div class="form-group" ng-form="NewP">
                        <label>Nytt lösenord</label>
                        <input ng-class="{'ma-has-error-border': NewP.$invalid && NewP.$dirty}" ng-model="vm.formData.NewPassword" class="form-control input-lg" type="password" placeholder="Nytt lösenord" ng-required="true" ng-minlength="12" ng-maxlength="512" />
                        <div ng-show="NewP.$invalid && NewP.$dirty">
                            <span class="text-danger" ng-show="NewP.$error.required">Fältet måste vara ifyllt!</span>
                            <span class="text-danger" ng-show="NewP.$error.minlength">Lösenordet måste innehålla minst 12 tecken!</span>
                            <span class="text-danger" ng-show="NewP.$error.maxlength">Lösenordet kan inte överstiga 512 tecken!</span>
                        </div>
                    </div>
                    <div class="form-group" ng-form="ConNewP">
                        <label>Bekräfta nya lösenordet</label>
                        <input compare-to="vm.formData.NewPassword" ng-class="{'ma-has-error-border': ConNewP.$invalid && ConNewP.$dirty}" ng-model="vm.formData.ConfirmPassword" class="form-control input-lg" type="password" placeholder="Bekräfta nya lösenordet" ng-required="true" ng-minlength="12" ng-maxlength="512" />
                        <div ng-show="ConNewP.$invalid && ConNewP.$dirty">
                            <span class="text-danger" ng-show="ConNewP.$error.required">Fältet måste vara ifyllt!</span>
                            <p class="text-danger" ng-show="ConNewP.$error.compareTo">Lösenorden stämer ej överrens!</p>
                        </div>
                    </div>
                    <div class="text-center">
                        <input ng-class="{'btn-success': changeForm.$valid}" ng-disabled="changeForm.$invalid || vm.loadingBool" type="submit" class="btn btn-default btn-lg rt-btn-fix" value="Ändra lösenord" />
                    </div>
                    <div class="text-center" ng-show="vm.loadingBool">
                        <p class="text-info">{{vm.loadingBool}}</p>
                    </div>
                    <div class="text-center" ng-show="vm.msg">
                        <p class="text-info">{{vm.msg}}</p>
                    </div>
                </form>
                <div class="text-center" ng-show="vm.errorMsg">
                    <p class="text-danger">{{vm.errorMsg}}</p>
                </div>
            </div>
        </div>
    </div>
    
</div>