
<div class="row ma-main">
    <div class="col-xs-12 col-md-push-3 col-md-6">
        <div class="ma-border">
            <div class="ma-wrap-padding">
                <form class="ma-form">
                    <div class="form-group">
                        <input ng-model="vm.formData.Email" class="form-control input-lg" type="text" placeholder="Epost" />
                    </div>
                    <div class="ma-center-text">
                        <input ng-click="vm.send()" type="submit" class="ma-btn-lg btn-success" value="Skicka Länk" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
