<div class="row rt-main">
    <div class="panel panel-info">
        <div class="panel-heading text-center">
            <h3>Återställ lösenord</h3>
        </div>
        <div class="panel-body">
            <div class="rt-formWrap">
                <form class="" ng-submit="vm.confirmNewPass()" name="restoreForm">
                    <div class="form-group" ng-form="Email">
                        <label>Epost</label>
                        <input ng-class="{'ma-has-error-border': Email.$invalid && Email.$dirty}" ng-model="vm.formData.Email" ng-pattern="/[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$/" class="form-control input-lg" type="text" placeholder="Epost" ng-required="true" />
                        <div ng-show="Email.$invalid && Email.$dirty">
                            <span class="text-danger" ng-show="Email.$error.required">Fältet måste vara ifyllt!</span>
                            <span class="text-danger" ng-show="Email.$error.pattern">Fyll i en giltig e-post.</span>
                        </div>
                    </div>
                    <div class="form-group" ng-form="P">
                        <label>Lösenord</label>
                        <input ng-class="{'ma-has-error-border': P.$invalid && P.$dirty}" ng-model="vm.formData.Password" class="form-control input-lg" type="password" placeholder="Lösenord" ng-required="true" ng-minlength="6" ng-maxlength="256" />
                        <div ng-show="P.$invalid && P.$dirty">
                            <span class="text-danger" ng-show="P.$error.required">Fältet måste vara ifyllt!</span>
                            <span class="text-danger" ng-show="P.$error.minlength">Lösenordet måste innehålla minst 6 tecken!</span>
                            <span class="text-danger" ng-show="P.$error.maxlength">Lösenordet kan inte överstiga 512 tecken!</span>
                        </div>
                    </div>
                    <div class="form-group" ng-form="Pc">
                        <label>Repetera ditt lösenord</label>
                        <input ng-class="{'ma-has-error-border': Pc.$invalid && Pc.$dirty}" ng-model="vm.formData.ConfirmPassword" class="form-control input-lg" type="password" placeholder="Repetera ditt lösenord" ng-required="true" ng-minlength="6" ng-maxlength="256" />
                        <div ng-show="Pc.$invalid && P.$dirty">
                            <span class="text-danger" ng-show="Pc.$error.required">Fältet måste vara ifyllt!</span>
                            <!--<span class="text-danger" ng-show="Pc.$error.pattern">Lösenorden stämmer ej överrens!</span>-->
                        </div>
                    </div>
                    <div class="text-center">
                        <input ng-class="{'btn-success': restoreForm.$valid}" ng-disabled="restoreForm.$invalid" type="submit" class="btn btn-default btn-lg rt-btn-fix" value="Ändra lösenord" />
                    </div>
                </form>
                <div class="text-center" ng-show="vm.errorMsg">
                    <p class="text-danger">{{vm.errorMsg}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
