
<div class="row ma-main">
    <div class="col-xs-12 col-md-push-3 col-md-6">
        <div class="ma-border">
            <div class="ma-wrap-padding">
                <form class="ma-form">
                    <div class="form-group">
                        <label>Epost</label>
                        <input ng-model="vm.formData.Email" class="form-control input-lg" type="text" placeholder="Epost" />
                    </div>
                    <div class="form-group">
                        <label>Lösenord</label>
                        <input ng-model="vm.formData.Password" class="form-control input-lg" type="password" placeholder="Lösenord" />
                    </div>
                    <div class="form-group">
                        <label>Repetera ditt lösenord</label>
                        <input ng-model="vm.formData.ConfirmPassword" class="form-control input-lg" type="password" placeholder="Repetera ditt lösenord" />
                    </div>
                    <div class="ma-center-text">
                        <input ng-click="vm.confirmNewPass()" type="submit" class="ma-btn-lg btn-success" value="Ändra lösenord" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
