<div class="row ma-main" >
    <div class="col-md-4" ng-repeat="cat in vm.cats">
        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <h2>Kategori {{cat.Name}} <span style="font-size: 9pt;" class="pull-right"> Välj alla <input style="margin-left: .5em;" type="checkbox" /></span></h2>
            </div>
            <div class="panel-body">
                <p style="margin-right: .5em;" ng-repeat="flyer in cat.Flyers track by $index">{{flyer.Name}} {{flyer.Selected}} {{flyer.ID}}
                 <span class="pull-right">
                    <input type="checkbox" ng-checked="flyer.Selected" ng-model="flyer.Selected" ng-change="vm.checkChange(vm.cats)" />
                </span></p>
            </div>
        </div>
    </div>
</div>