
.ma-main {
    margin: 2.5em 0 0 0;
}

.ma-border {
    border: .2em solid black;
    border-radius: .5em;
    min-height: 38em;
    background-color: white;
}

.ma-btn-lg {
    padding: .5em 1em;
    font-size: 1.5em;
    width: 100%;
    border-radius: 0 0 0 0;
}
.ma-btn-lg-l {
    font-size: 1.5em;
    width: 100%;
    border-radius: 2em 0 0 2em;
}
.ma-btn-lg-r {
    padding: .5em 1em;
    font-size: 1.5em;
    width: 100%;
    border-radius: 0 2em 2em 0;
}

@media only screen and (max-width : 768px) {
    .ma-btn-lg-l {
        padding: .5em 1em;
        font-size: 1.5em;
        width: 100%;
        border-radius: 0;
    }
    .ma-btn-lg-r {
        padding: .5em 1em;
        font-size: 1.5em;
        width: 100%;
        border-radius: 0;
    }
}

.ma-placed-header {
    position: relative;
    top: 1em;
}

.ma-customHeader {
    position: relative;
    top: .8em;
    left: 1em;
    width: auto;
    max-width: 60%;
    background-color: white;
    font-size: 2em;
    font-weight: bold;
    padding: 0 0 0 1em;
    margin: 0;
}

@media only screen and (max-width : 768px) {
    .ma-customHeader {
        position: relative;
        top: .8em;
        left: 1em;
        width: auto;
        max-width: 70%;
        background-color: white;
        font-size: 1.3em;
        font-weight: bold;
        padding: 0 0 0 1em;
        margin: 0;
    }
}

.ma-center-text {
    text-align: center;
}

.ma-form {
    width: 21em;
    margin: 0 auto;
}

@media only screen and (max-width : 768px) {
    .ma-form {
    width: auto;
    margin: 0 auto;
}
}

.ma-wrap-padding {
    padding: 2em .75em .75em .75em;
}

.ma-show {
    display: block;
}

.ma-hidden {
    display: none;
}

@media only screen and (max-width : 768px) {
    .ma-hidden {
        display: block;
    }
    .ma-show {
        display: none;
    }
}

.ma-mobileMode p {
    font-weight: bold;
    font-size: .75em;
}
.ma-mobileMode p span {
    font-style: italic;
    font-size: .75em;
}

.ma-table-width-8 {
    width: 8%;
}
.ma-table-width-10 {
    width: 10%;
}
.ma-table-width-15 {
    width: 15%;
}
.ma-table-width-20 {
    width: 20%;
}

.ma-has-error-border {
    border: red 2px solid !important;
}

.ma-infoTxt {
    font-size: 1.375em;

}

.ma-infoTxt span {
    font-weight: 900;
    font-style: normal;
}

.ma-succssesText {
    font-size: 2em;
    margin-top: .25em;
}

.footerLogoImg {
    padding: 0 .25em;
}