body {
    margin: 0;
    padding: 0;
}

.navbar,button,footer,a,legend {
    display: none;
}

.ma-hidden {
    display: block;
}
.ma-show {
    display: none;
}

.ma-print-hidden {
    display: none;
}

p {
    font-size: 14pt;
}

span {
    font-size: 14pt;
}

.break {
    page-break-after: always;
}

.printDisplay {
    display: block;
}

.print {
    position: relative;
}

.comp {
    position: absolute;
    right: 0;
    top: 0;
}

.userInfo {
    position: absolute;
    right: 25em;
    top: 5.5em;
}
.userInfo, p, span {
    font-size: 9pt;
    margin: 0;
    padding: 0;
}
.userMsg {
    margin-top: 12em;
}